<div class="contents">
  <div class="big-left">
    <% @diaries.each do |diary| %>
      <%= render partial: "diary", locals: { diary: diary } %>
    <% end %>
  </div>

  <div class="big-right">
    level
  </div>
</div>