<div class="contents">
  <div class="big-left">
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @diaries.each do |diary| %>
      <%= render partial: "diaries/diary", locals: { diary: diary } %>
    <% end %>
  </div>

  <div class="big-right">
    level
  </div>
</div>